body {
    background-image: url(../assets/images/prism.png);
    color: firebrick;
}
input {
    display: none;
}
p img {
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
    padding: 25px;
    background-image: url('../assets/images/canvas-orange.jpg');
    box-shadow: 1px 1px 2px grey, 0 0 25px white, 0 0 5px slateblue;
}
#buttoncenter {
    text-align: center;
}
header {
   text-align: center;
   font-weight: bold;
}
.invisible   {
    visibility: hidden;
}
section {
    display: flex;
    justify-content: space-around;
}
#computer-choice {
    height: 225px;
    width: 225px;
    display: block;
    margin: 10px auto 0 auto;
    padding: 25px;
    background-image: url('../assets/images/canvas-orange.jpg');
    border-radius: 10%;
    box-shadow: 1px 1px 2px grey, 0 0 25px white, 0 0 5px slateblue;
}
footer {
    margin-top: 100px;
    font-size: .7em;
}
input:checked + .radio-image {
    border: 5px double goldenrod;
    border-radius: 10%;
}
.radio-image {
    border: 5px double transparent;
    border-radius: 10%;
}
#message {
    margin-top: 80px;
    font-size: 2.5em;
}
#throwbutton {
    border-radius: 40%;
    background-color: goldenrod;
    font-weight: bold;
    height: 25px;
    margin: 20px 0 20px 0;
}